@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #2b2b2b;
  transition: all 0.5s ease;
}

body {
  background: linear-gradient(#fde8ad, #ffcbf8);
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  position: static;
  width: 70%;
  max-width: 400px;
  min-height: 400px;
  margin: 0 auto;
}

.weather-container__header {
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.entry-field,
.history-btn {
  height: 35px;
  background: transparent;
  border: 2px solid #2b2b2b;
  border-radius: 8px;
  outline: none;
}

.entry-field {
  width: 75%;
}

.history-btn {
  width: 23%;
  cursor: pointer;
}

.history-btn:hover {
  background: #2b2b2b;
  color: #fde8ad;
}

.weather-container__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 10px;
  font-size: 24px;
}

.weather-icon {
  font-size: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #505050ab;
}

.search-history-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  max-width: 1000px;
  max-height: 750px;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
}

.search-history-container__header {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
}

.search-history-title {
  font-size: 22px;
}

.close-btn {
  width: 23px;
  height: 23px;
  background: url(../images/close.svg) no-repeat;
  cursor: pointer;
  opacity: 0.8;
}

.close-btn:hover {
  opacity: 1;
}

.history-empty {
  align-self: center;
  margin: 0 auto;
}

.search-history-container__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 10px;
  overflow: auto;
}

.search-history-container__list::-webkit-scrollbar {
  width: 0;
}

.day-history-container {
  width: 97%;
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #bbbbbb;
}

.day-history-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #929292;
  font-size: 20px;
}

.day-history-list {
  display: flex;
  flex-direction: column;
}

.day-history-list__city-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  font-size: 17px;
}

.day-history-list__city-row div {
  padding-right: 15px;
  text-align: center;
  letter-spacing: 0.5px;
}

.city-row-icon {
  font-size: 36px;
}

@media (max-width: 900px) {
  .search-history-container {
    width: 100vw;
    height: 100vh;
    max-height: none;
    border-radius: 0;
  }

  .search-history-title {
    font-size: 18px;
  }

  .day-history-container {
    width: 97%;
    margin: 10px auto 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px #bbbbbb;
  }

  .day-history-header {
    padding-bottom: 5px;
    border-bottom: 1px solid #929292;
    font-size: 16px;
  }

  .day-history-list__city-row {
    font-size: 14px;
  }

  .city-row-icon {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .day-history-list__city-row {
    flex-wrap: wrap;
    border-bottom: 0.5px solid #bbbbbb;
  }
}

@media (max-width: 450px) {
  .weather-container {
    width: 290px;
    min-width: 290px;
  }

  .entry-field {
    width: 70%;
  }

  .history-btn {
    width: 27%;
  }
}